# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/

# IDE files
.vscode/
.idea/

# Logs
*.log

# Database files
*.sqlite3

# Docker / environment
*.env

# Testing / type checking
.pytest_cache/
.mypy_cache/
htmlcov/

# Packaging
*.egg-info/
dist/
build/
