# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/

# IDE files
.vscode/
.idea/

# Logs
*.log

# Database files
*.sqlite3

# Docker files
*.env

# Other
*.egg-info/
dist/
build/